@import "tailwindcss";

:root {
  --Fatec-Grad: linear-gradient(45deg,#B20000,#4C0000);
  --Fatec-Grad2: linear-gradient(45deg,#CC0000,#B20000);
  --Fatec-Grad3: linear-gradient(45deg,#F00000,#DC281E);
  --c01: #F7F7F7;
}
