@import "tailwindcss";
:root {
  --Fatec-Grad: linear-gradient(45deg, #b20000, #4c0000);
  --Fatec-Grad2: linear-gradient(45deg, #cc0000, #b20000);
  --Fatec-Grad3: linear-gradient(45deg, #f00000, #dc281e);
  --c01: #f7f7f7;
}
